* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    width: 100%;
    background: #073362;
    padding: 10px;
    position: fixed;
    z-index: 1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.logo span {
    color: #03eefa;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.5s;
}

.navbar ul li a:hover {
    color: #03eefa;
}

.span {
    color:#03eefa;
}

/* Section */
.section {
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}

#about {
    background: #073362;
    text-align: left; /* Mengatur teks rata kiri untuk bagian #about */
    margin-top: 20px;
}

#project {
    background: #ffffff;
}

#contact {
    background: #073362;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fcfcfc;
}

#about p {
    width: 90%;
    max-width: 1000px;
    margin: 20px 0 30px; /* Mengatur margin atas menjadi 20px, dan margin kanan serta kiri menjadi 0 */
    line-height: 1.6;
}


#project {
    background: #ffffff;
    display: flex; /* Mengatur kontainer sebagai flexbox */
    flex-wrap: wrap; /* Memungkinkan elemen membungkus ke baris baru jika tidak cukup ruang */
    justify-content: space-between; /* Menyebarkan elemen secara merata dengan jarak di antara mereka */
}

#project .project {
    width: 30%; /* Mengatur lebar setiap proyek */
    margin: 10px; /* Mengatur margin untuk memberikan ruang antar proyek */
    text-align: center; /* Rata tengah konten dalam project */
}

#project img {
    max-width: 100%; /* Maksimum lebar gambar agar tidak melebihi kontainer */
    height: auto; /* Memastikan gambar tetap proporsional */
    border-radius: 8px;
}

#project h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: 50%;
    color: #073362;
}

#project h3 {
    margin-top: 10px;
    font-size: 24px;
    color: black;
}

#project p {
    margin-top: 10px;
    margin-bottom: 20px;
    color:black;
}

#skill {
    background: #ffffff;
    display: flex; /* Mengatur kontainer sebagai flexbox */
    flex-wrap: wrap; /* Memungkinkan elemen membungkus ke baris baru jika tidak cukup ruang */
    justify-content: space-between; /* Menyebarkan elemen secara merata dengan jarak di antara mereka */
}

#skill .skill {
    width: 30%; /* Mengatur lebar setiap proyek */
    margin: 10px; /* Mengatur margin untuk memberikan ruang antar proyek */
    text-align: center; /* Rata tengah konten dalam project */
}

#skill h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-right: 60%;
    color: #073362;
}

#skill h3 {
    margin-top: 10px;
    margin-bottom: 24px;
    color:black;
}

#skill img {
    max-width: 20%;
    height: auto;
    border-radius: 8px;
}

/* Styles for the contact information */


#contact a {
     /* LinkedIn Blue */
     color: #fcfcfc;
    text-decoration: none;
    font-weight: bold;
    transition: color 300ms;
}

/* Hover effect for links */
#contact a:hover {
    color: #03eefa;
}




.cv-button {
    border-radius: 20px;
    width: 250px;
    height: 60px;
    color: #ffffff;
    border: 2px solid #020202;
    background: #176569;

    font-size: 18px;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

.cv-button:hover {
    background: #03eefa;
    color: #ffffff;
}

/* Circle */
/* Gaya dasar untuk elemen .cercle */
.cercle {
    position: relative; /* Mengubah dari absolute ke relative untuk fleksibilitas */
    margin: 5px 0 10px 20px; /* Pusatkan elemen secara horizontal dengan margin auto */
    width: 25%;
    max-width: 200px;
    background: #073362;
    border-radius: 50%;
    overflow: hidden;
    display: flex; /* Menggunakan flexbox untuk menyejajarkan gambar di tengah */
    justify-content: center; /* Menyejajarkan gambar secara horizontal di tengah */
    align-items: center; /* Menyejajarkan gambar secara vertikal di tengah */
    z-index: 0;
}

/* Gaya dasar untuk gambar di dalam elemen .cercle */
.cercle img {
    width: 100%;
    height: auto;
}

/* Media queries untuk penyesuaian pada layar yang lebih kecil */
@media (max-width: 768px) {
    .cercle {
        width: 50%;
        max-width: 150px; /* Sesuaikan max-width untuk layar kecil */
    }
}

@media (max-width: 480px) {
    .cercle {
        width: 75%;
        max-width: 100px; /* Sesuaikan max-width untuk layar sangat kecil */
    }
}


.section a {
    color: #1da1f2;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:767px) {
    /*css buat layar hp*/
}

.social-logo {
    width: 30px; /* Lebar gambar logo */
    height: auto; /* Tinggi gambar logo */
    margin-right: none; /* Jarak antara logo dan teks */
    vertical-align: middle; /* Menyelaraskan logo dengan teks */
}